* {
    box-sizing: border-box;
}

body {
    background-color: #daacac;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkblue;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 50px auto;
    background: #999;
}

tr {
    border: black solid 1px;
}

.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
    cursor: pointer;
}

/* td:hover {
} */
.cell:not(.shown):hover {
    background-color: lightsalmon;
}

.game-hints .leves-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}
.x1{
    color: rgb(198, 14, 14);
}
.x2{
    color: rgb(14, 14, 122);
}
.x3{
    color: rgb(0, 164, 0)
}
.x4{
    color: rgb(168, 5, 168);
}
.x5{
    color: rgb(149, 19, 19);
}
.hint {
    background-color: #d3e0ea;
}
/* .leves-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */
.shown {
    background-color: lightgrey;
}

.mined {
    background-color: red;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    pointer-events: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; 
    text-align: center;
    border-radius: 8px;
    pointer-events: auto;
}
footer {
    background-color: #ba4c7c;
    margin: 80px 50px;
}